apiVersion: v1
kind: Secret
metadata:
  name: homelab-repo-secret
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: https://github.com/zexianchoo/homelab-argo.git
  username: zexianchoo 
  password: your_github_personal_access_token_here 